---
# Default values for open311-nodejs.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: <your-docker-repo>/arcgis-web-appbuilder
  tag: <tag here>
  pullPolicy: IfNotPresent

environment:
  serverPath: server
  serverjsFile: server.js
  port: "80"
  wabVirtualPath: webappbuilder
  portTaken: "0"

service:
  type: ClusterIP

  # only uncomment if you want static assignment from your LB
  # and are using LoadBalancer service type
  #loadBalancerIP: "x.x.x.x"

  port: 80

# adjust the hostnames below to your needs
ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: your-desired-hostname.com
      paths: ["/"]

  tls:
    - secretName: cert-wildcard
      hosts:
        - your-desired-hostname.com
...
